body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
/* Chỉnh background */
#board {
    /* background-color: skyblue; */
    background-image: url('Background game.png');
    background-size: cover; /* Đảm bảo hình ảnh sẽ che phủ toàn bộ phần nền */
}
