body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
/* Chỉnh background */
#board {
    /* background-color: skyblue; */
    background-image: url(https://img.cake.vn/2021/09/e166aa95-z2434192104284_4a91929db3363e3c43118490fcbe922f.jpg);
    
}